/.git/
/perl-*.*.*/
/*.tar.gz
*.o
/picoperl-*/picoperl
/romperl/romperl
/romperl/root.romfs
/romperl/romfs_data.c
/romperl/romfs_test
/romperl/rootfs/lib/
/ramfs/ramfs_test
/vfs/vfs_test
/vfs/vfs_posix_test
/vfs/vfs_stdio_test
/vfs/vfs_test.romfs
/vfs/vfs_test_romfs_data.c
/libc/env_test
/libc/sort_test
/libc/rand_test
/libc/time_test
*.so
core.*
